.callout {
  border-radius: 4px;
  position: absolute;
  padding: 8px;
  cursor: pointer;
  z-index: 9999;
}

.callout-arrow {
  height: 0;
  width: 0;
  position: absolute;
  cursor: pointer;
}

/* .arrow {
  position: absolute;
  width: 3em;
  height: 3em;
}

.arrow::before {
  content: '';
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}

[data-placement*='bottom'].arrow {
    top: 0;
    left: 0;
    margin-top: -0.9em;
    width: 3em;
    height: 1em;
}
[data-placement*='bottom'].arrow::before {
  border-width: 0 1.5em 1em 1.5em;
  border-color: transparent transparent #232323 transparent;
}

[data-placement*='top'].arrow {
  bottom: 0;
  left: 0;
  margin-bottom: -0.9em;
  width: 3em;
  height: 1em;
}
[data-placement*='top'].arrow::before {
  border-width: 1em 1.5em 0 1.5em;
  border-color: #232323 transparent transparent transparent;
}

[data-placement*='right'].arrow {
  left: 0;
  margin-left: -0.9em;
  height: 3em;
  width: 1em;
}
[data-placement*='right'].arrow::before {
  border-width: 1.5em 1em 1.5em 0;
  border-color: transparent #232323 transparent transparent;
}

[data-placement*='left'].arrow {
  right: 0;
  margin-right: -0.9em;
  height: 3em;
  width: 1em;
}
[data-placement*='left'].arrow::before {
  border-width: 1.5em 0 1.5em 1em;
  border-color: transparent transparent transparent#232323;
} */